<nav id="navbar" class="navbar navbar-expand-lg" #navbar>
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" alt="" loading="lazy"
                width="72"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li *ngFor="let menu of menus" class="nav-item">
                    <a class="nav-link text-light" aria-current="page" [class.active]="activeLink === menu.path" (click)="navigateRoute(menu.path)">{{menu.label}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>