<div class="row">
    <div class="col">
        <span>{{label}}</span>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
                {{ selectedOption ?getSelectedOptionLabel(selectedOption) : 'Select'}}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let option of options"
                    (click)="selectOption(option)">{{option.label}}</button>
            </div>
        </div>
    </div>