.pagination-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option {
    display: flex;
    align-items: center;
}


.pagination {
    text-align: right;
    float: right;
}